<%= render "hero" %>

<div class="my-4">

  <div class="card-container p-2">
      <% @cocktails.each do |cocktail| %>

      <div class="card border border-dark card-background" style="width: 18rem;">

        <%= cl_image_tag cocktail.photo.key, class: 'card-img card-img-top', height: 600, crop: :fill %>

        <div class="card-body">
          <h5 class="card-title"><%= cocktail.name.capitalize %></h5>
          <p class="card-text card-description">Lorem ipsum dolor sit amet consectetur adipisicing, elit. Labore, quisquam.</p>

          <%= link_to 'Get the recipe', cocktail_path(cocktail.id), class: 'btn border border-dark' %>
        </div>
      </div>

      <!-- <li><%= link_to cocktail.name.capitalize, cocktail_path(cocktail.id) %></li> -->
      <% end %>
  </div>

  <!-- <%= link_to 'Add a new cocktail', new_cocktail_path %> -->
</div>
